.UI_caseCard_wrapper {
    width: 400px;
}

.UI_caseCard_wrapper .number_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.UI_caseCard_wrapper .number_wrapper .number {
    border: 1px solid #545454;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
}

.UI_caseCard_wrapper .card {
    border: 2px solid #545454;
    border-radius: 5px;
    padding: 30px 15px 18px 15px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    background-image: url(../../aseets/img/CaseCard/bg-5.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.UI_caseCard_wrapper .card .icons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.UI_caseCard_wrapper .card .icons .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UI_caseCard_wrapper .card .icons .icon p {
    text-align: center;
}

.UI_caseCard_wrapper .card .icons .icon img {
    flex-shrink: 0;
    object-fit: cover;
    margin-bottom: 7px;
}



.ml-15 {
    margin-left: 15px;
}

.pr-30 {
    padding-right: 30px;
}

.m-h-48 {
    min-height: 48px;
}

@media screen and (max-width: 1200px) {
    .UI_caseCard_wrapper {
        width: 100%;
    }
}   